/*-------------------- Variables --------------------*/
:root{
  --color-purple: #5550D8;
  --color-purple-dark: #605AEE;
  --color-blue: #42BDFF;
  --color-red: #FF3464;
  --color-green: #b0f588;
  --color-black-900: rgba(0,0,0,1);
  --color-black-800: rgba(0,0,0,0.85);
  --color-black-600: rgba(0,0,0,0.65);
  --color-black-300: rgba(0,0,0,0.3);
  --color-black-200: rgba(0,0,0,0.15);
  --color-black-100: rgba(0,0,0,0.05);
  --color-gradient: linear-gradient(20deg, cyan, magenta);
  --color-gradient-strong: linear-gradient(#000, #11101A);
  --color-white-900: rgba(255,255,255,1);
  --color-white-800: rgba(255,255,255,0.85);
  --color-white-700: rgba(255,255,255,0.65);
  --color-white-300: rgba(255,255,255,0.3);
  --color-white-200: rgba(255,255,255,0.15);
  --color-white-100: rgba(255,255,255,0.05);

  --color-bg-nav: var(--color-black-800);
  --color-bg-default: var(--color-gradient-strong);
  --color-bg-interactive: var(--color-blue);
  --color-bg-main: var(--color-black-900);
  --color-bg-input: var(--color-white-100);
  --color-bg-button: var(--color-blue);


  --color-content-nav: var(--color-white-900);
  --color-content-nav-inactive: var(--color-white-700);
  --color-content-default: var(--color-white-900);
  --color-content-weak: var(--color-white-800);
  --color-content-weaker: var(--color-white-700);
  --color-content-interactive: var(--color-blue);
  --color-content-inverse: var(--color-black-900);
  --color-content-highlight: var(--color-blue);

  --color-border-nav: var(--color-white-100);
  --color-border-default: var(--color-white-100);
  --color-border-strong: var(--color-white-200);
}

/*-------------------- General --------------------*/
*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  position: relative;
  font-size: 16px;
}

.index main,
.about main {
  margin-bottom: 250px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.spacer {
  margin-top: 60px;
}

.spacer-medium{
  margin-top: 120px;
}

.spacer-large {
  margin-top: 180px;
}

a, a:hover{
  font-family: 'Inter', sans-serif;
  color: var(--color-content-interactive);
}

p,h2,h3,h4,h5,h6{
  font-family: 'Inter', sans-serif;
  color: var(--color-content-default);
}

h1 {
  font-family: "Poppins", sans-serif;
    color: var(--color-content-default);
}


/*-------------------- Colours --------------------*/
.content-highlight{
  color: var(--color-content-highlight) !important;
}

.content-gradient{
  -webkit-text-fill-color: transparent;
  background: var(--color-gradient);
  -webkit-background-clip: text;
  animation: text-spin 9s infinite linear;
}

.content-weak{
  color: var(--color-content-weak);
}

.content-weaker{
  color: var(--color-content-weaker);
}

/*-------------------- Welcome --------------------*/
.absolute {
  position: absolute;
  inset: 0;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  overflow: hidden;
}

.bg-shape1{
  width: 2000px;
  height:600px;
  border-radius: 9999px;
  position: relative;
  animation: one 20s infinite;
}

.bg-shape2{
  width: 2000px;
  height:800px;
  border-radius: 9999px;
  position: relative;
  animation: two 20s infinite;
}

.bg-shape3{
  width: 1800px;
  height:600px;
  border-radius: 9999px;
  position: relative;
  animation: three 20s infinite;
}

.bg-shape4{
  width: 800px;
  height:800px;
  border-radius: 9999px;
  position: relative;
  animation: four 20s infinite;
}

@keyframes one{
  0%{left: 650px; top:700px;}
  25%{left: 575px; top:650px;}
  50%{left: 475px; top:350px;}
  75%{left: 525px; top:625px;}
  100%{left: 650px; top:700px;}
}

@keyframes two{
  0%{left: -450px; top:800px;}
  25%{left: -550px; top:550px;}
  50%{left: -750px; top:425px;}
  75%{left: -525px; top:550px;}
  100%{left: -450px; top:800px;}
}

@keyframes three{
  0%{left: -450px; top:800px;}
  25%{left: -350px; top:650px;}
  50%{left: -300px; top:550px;}
  75%{left: -200px; top:750px;}
  100%{left: -450px; top:800px;}
}

@keyframes four{
  0%{left: 100px; top:800px;}
  25%{left: 50px; top:750px;}
  50%{left: -50px; top:650px;}
  75%{left: -25px; top:750px;}
  100%{left: 100px; top:800px;}
}


.bg-blur {
  filter: blur(90px);
}

.bg-1{
 background-color: #8437F6;
 opacity: 0.4;
}

.bg-2{
  background-color: darkmagenta;
  opacity: 0.4;
}

.bg-3{
 background-color: darkviolet;
 opacity: 0.4;
}

.bg-4{
  background-color: cyan;
  opacity: 0.4;
}
/*-------------------- Links --------------------*/

a, a:active,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

.external-link-icon {
  fill: none;
  stroke: var(--color-content-interactive);
  stroke-width: 3px;
  margin-left: 4px;
}

.external-link:hover {
  text-decoration: underline !important;
  text-underline-offset: 4px;
}

/*-------------------- Typography --------------------*/
h1 {
  font-size: 12rem;
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.5;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

.strong-link {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  color: var(--color-content-default);
}

/* SPECIAL CASES */
.hero-subheader {
  font-size: 2.5rem;
  line-height: 1.5;
  color: var(--color-content-weak);
}

.default-subheader {
  font-size: 1.5rem;
  line-height: 1.5;
}

.p2 {
  font-size: 1.25rem;
  line-height: 0.5;
}

.locked-text {
  text-align: center;
  font-size: 1.75rem;
}

.lock {
  width: 25px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  display: block;
}

.lock-dark {
  display: none;
}


/*-------------------- Navigation (Full)  --------------------*/
a .logo {
  display: inline;
  height: 48px;
  margin-left: 24px;
}

.navbar {
  position: sticky; /* Use sticky instead of fixed */
  top: 0; /* Stick to the top of the viewport */
  width: 100%; /* Ensure it spans the full width */
  z-index: 1000; /* Ensure it stays on top of other content */
}

.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 10px;
}

.navbar-default {
  height: 80px;
  max-width: 1200px;
  width: 96vw;
  margin: auto;
  top: 24px;
  border-radius: 12px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .navbar-scrolled {
   box-sizing: border-box;
   background-color: var(--color-bg-nav);
   border: 1px var(--color-border-nav) solid;
   backdrop-filter: blur(20px) saturate(180%);
   -webkit-backdrop-filter: blur(20px) saturate(180%);
 }
}

.active a{
  color: var(--color-content-nav) !important;
  font-weight: 700;
}

.nav-link{
  font-size: 1.25rem;
  position: relative;
  color: var(--color-content-nav-inactive);
}

.nav-link:hover, .nav-link:focus {
  color: var(--color-content-nav) !important;
}

/*-------------------- Navigation (Mobile)  --------------------*/
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  box-shadow: none;
  outline: auto 5px -webkit-focus-ring-color;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*-------------------- Body --------------------*/

.hero-bg{
  background: radial-gradient(circle at top, rgba(0, 0, 0, 0) 80%, rgba(177, 28, 201, 0.36) 90%, rgba(255, 136, 245, 0.48) 100%),
  radial-gradient(115% 100% at 50% 0%, #050407 50%, rgba(29, 16, 63, 1.0) 80%, rgba(58, 31, 255, 0.8) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

.bg {
  background: var(--color-bg-default);
}

.bg-home {
  background: var(--color-bg-main);
}

.welcome-home {
  padding-top: 200px;
  margin-bottom: 160px;
}

.welcome-other {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-bottom: 120px;
}


.welcome-footer{
  position: absolute;
  max-width: 1200px;
  bottom: 1rem; /*adjust the number depends on your need*/
}

.circle{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memoji{
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.text{
  position: absolute;
  height: 100%;
  width: 100%;
  animation: rotateText 30s linear infinite;
}

.text p{
  font-family: 'Space Mono', monospace !important;
}

@keyframes rotateText{
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.text span{
  position: absolute;
  left: 50%;
  transform-origin: 0 125px;
}

.pronunciation{
  margin-left: 5px;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  transition-property: transform, box-shadow, background-color;
  transition: all .3s ease-in-out;
  color: var(--color-content-interactive);
}

.pronunciation:hover, .pronunciation:focus{
  transform: scale(1.10);
  transition-duration: 0.15s;
}

.rotateWords{
  --height: 16rem;
  height: var(--height);
  line-height: var(--height);
  overflow: hidden;
}

.rotateWords ol {
  list-style: none;
  padding: 0;
}

.rotateWords ol li{
  animation: slide-up 18s infinite;
}

@keyframes slide-up {
  0%, 20% {
    transform: translateY(0%);
  }
  25%, 45% {
    transform: translateY(-100%);
  }
  50%, 70% {
    transform: translateY(-200%);
  }
  75%, 90% {
    transform: translateY(-300%);
  }
}

.rotateWords ol li span{
  -webkit-text-fill-color: transparent;
  background: linear-gradient(20deg, cyan, magenta);
  -webkit-background-clip: text;
}


/*-------------------- Tooltip ----------------------*/
.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-container .tooltip-text {
  visibility: hidden;
  width: 176px;
  color: #fff;
  background-color: rgba(0,0,0,0.94);
  border: 1px rgba(255, 255, 255, 0.08) solid;
  text-align: center;
  border-radius: 16px;
  padding: 8px 12px 8px 12px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -88px;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}


/*-------------------- Project Cards --------------------*/
.card{
  flex-grow: 1;
}

.card-container{
  margin-top: 160px;
}

.card:not(.card-locked) {
 background-color: var(--color-bg-default);
 border: 1px var(--color-border-default) solid;
 border-radius: 12px;
 transition-property: transform, box-shadow, background-color;
 transition: all .2s ease-in-out
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .card:not(.card-locked) {
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
  }
}

.card:hover:not(.card-locked), .card:focus:not(.card-locked) {
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

.card-locked {
  background-color: var(--color-bg-nav)
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px var(--color-border-nav) solid;
  border-radius: 12px;
  padding: 150px 25px;
}

.card-title {
  padding: 20px 15px 0px;
}

.card-text {
  text-align: left;
  padding: 15px 15px 0px;
}

.card-link {
  padding: 15px 15px 2px;
  display: inline-block;
  transition-property: color;
  transition-duration: 0.15s;
}

.card:hover .card-title,
.card:focus .card-title {
  color: var(--color-content-interactive);
}

.card:hover .card-link,
.card:focus .card-link {
  color: var(--color-content-interactive);
}

.card-img-top {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-link-arrow {
  margin-left: 16px;
  transition-property: transform, fill;
  transition-duration: 0.15s;
}

.card:hover .card-link-arrow,
.card:focus .card-link-arrow {
  animation: hover 0.8s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.strong-link:hover .card-link-arrow,
.strong-link:focus .card-link-arrow {
  animation: hover 0.8s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes hover {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(10px);
  }
}

.img-fluid
{
  border-radius: 12px;
}

.img-portfolio{
  object-fit: cover;
  width: 100%;
  height: 275px;
}
/*-------------------- Scroll to Top Button --------------------*/
.scrollbtn {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  bottom: -90px;
  right: 30px;
  padding: 10px 15px 10px;
  z-index: 999;
  color: var(--color-content-interactive);
  background-color: var(--color-bg-nav);
  border: 1px var(--color-border-nav) solid;
  border-radius: 12px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .scrollbtn {
    background-color: var(--color-bg-nav);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    transition-property: transform, box-shadow, background-color;
    transition: all .2s ease-in-out
  }
}

.scrollbtn-show {
  opacity: 1;
  visibility: visible;
  bottom: 30px;
}

.scrollbtn:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
  transition-delay: 0s !important;
}

.scrollbtn-text {
  margin-left: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-content-default);
}
/*-------------------- Footer --------------------*/

.footer-fa{
  color: var(--color-content-interactive);
  font-size: 1.75rem;
  padding: 15px;
  margin-bottom: 20px;
  transition-property: transform, box-shadow, background-color;
  transition: all .2s ease-in-out
}

.footer-fa:hover, .footer-fa:focus{
  transform: scale(1.1);
  transition-delay: 0s !important;
}

.glow{
  animation: glow 4s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 8px var(--color-red);
  }
  to {
    text-shadow: 0 0 16px var(--color-red);
  }
}

.wiggle {
  animation: wiggle 3s linear infinite;
}

.wiggle:hover{
  animation: none;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-8deg);
  }
  20% {
    transform: rotateZ(5deg);
  }
  25% {
    transform: rotateZ(-6deg);
  }
  30% {
    transform: rotateZ(3deg);
  }
  35% {
    transform: rotateZ(-1deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 60px;
  text-align: center;
}



/***************** Password page *****************/ 
.lock{
  width: 64px;
}

.checkboxContainer {
  display: flex;
  align-items: center; /* Vertically align checkbox and text */
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  user-select: none;
  color: var(--color-content-default);
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: var(--color-bg-input);
  border: 1px solid var(--color-border-default);
  margin-right: 10px; /* Add spacing between checkbox and text */
  border-radius: 4px; /* Optional: Adds rounded corners */
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover .checkmark {
  border: 1px solid var(--color-border-strong);
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: var(--color-purple);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 25%;
  top: 48%;
  width: 8px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) translate(-50%, -50%);
}

/* Dialog Wrap */
#dialogWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}

#dialogWrapCell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Main Dialog */
#mainDialog {
  max-width: 400px;
  width: 84vw;
  margin: 8px;
  background-color: var(--color-black-900);
  border: 1px var(--color-border-nav) solid;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: left;
}

#mainDialog > * {
  padding: 12px 36px;
}

#passArea {
  padding: 24px 32px;
}

#passArea > * {
  margin: 6px auto;
}

#pass {
  width: 100%;
  padding: 12px 16px;
  font-size: 1.5rem;
  background-color: var(--color-bg-input);
  color: var(--color-content-default);
  outline: none;
  border: solid 1px var(--color-border-default);
  text-overflow: ellipsis;
}

#pass:focus, #pass:hover {
  border: solid 1px var(--color-border-strong);
}

/* Error and Success Message Styling */
#messageWrapper {
  display: flex;
  justify-content: space-between; /* Aligns error/success messages in a row */
  margin-top: 8px;
}

.error {
  display: none;
  color: var(--color-red);;
}

.notifyText {
  display: none;
  color: var(--color-green);
}

/* "Show password" checkbox wrapper */
#checkboxWrapper {
  margin-top: 12px; /* Adds spacing between password input and checkbox */
}

/* Submit button styling */
#submitPass {
  color: var(--color-content-default);
  margin-top: 16px;
  font-size: 1.25rem;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: var(--color-purple);
  border: solid var(--color-border-strong) 1px;
  cursor: pointer;
  width: 100%;
}

#submitPass:hover {
   background-color: var(--color-purple-dark);
}

/* Secure and No Crypto error dialogs */
#securecontext, #nocrypto {
  display: none;
  color: var(--color-red);
}

#contentFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/** Responsiveness **/ 

@media only screen and (max-width: 1200px) {
  .hero-subheader{
    font-size: 2rem;
  }

  .welcome-home {
    margin-top: 160px;
    margin-bottom: 80px;
  }

  .welcome-other {
    margin-top: 160px;
    margin-bottom: 80px;
  }

  .card-container {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 1152px) {
  .circle {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  
  /* Ensure background covers the expanded menu */
.collapse {
  position: absolute; /* Position absolute to ensure it's aligned with the navbar */
  top: 88px; /* Adjust based on the height of your navbar */
  right: 0; /* Align to the right */
  width: 100%; /* Ensure it stretches across the full width if desired */
  background-color: var(--color-bg-nav);
  border-radius: 12px;
  border: 1px var(--color-border-nav) solid;
  padding: 1rem;
  z-index: 1000; /* Ensure it appears on top of other content */
}

/* Ensure the collapsing transition is smooth */
.collapsing {
  position: absolute; /* Position absolute to ensure it's aligned with the navbar */
  top: 88px; /* Adjust based on the height of your navbar */
  right: 0; /* Align to the right */
  width: 100%; /* Ensure it stretches across the full width if desired */
  background-color: var(--color-bg-nav);
  border-radius: 12px;
  border: 1px var(--color-border-nav) solid;
  padding: 1rem;
  z-index: 1000; /* Ensure it appears on top of other content */
}

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .welcome-home {
    margin-top: 120px;
    margin-bottom: 60px;
  }

    .welcome-other {
    margin-top: 120px;
    margin-bottom: 60px;
  }

  .card-container {
    margin-top: 60px;
  }

  .contact-fa {
    padding: 10px;
  }

  .navbar-toggler {
    border: none;
    outline: none;
  }

  #theme-toggle-container {
    display: none;
  }

  h1 {
    font-size: 8rem;
    white-space: normal;
  }

  .rotateWords{
  --height: 10rem;
}

.content-gradient {
                display: block; /* Move "me" to the next line */
            }

  a .logo {
    height: 40px;
  }

  .subheader1{
    font-size: 1.5rem;
  }

  .footer-wiggle {
    animation: none;
  }
}

@media only screen and (max-width: 576px) {
  .spacer {
  margin-top: 20px;
}


  .welcome-home {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 1;
  }

  .hero-subheader{
    font-size: 1.75rem;
  }

  .rotateWords{
    --height: 6rem;
  }

  .scrollbtn-show {
visibility: hidden;
  }
}